# See http://help.github.com/ignore-files/ for more about ignoring files.

/RemoteSystemsTempFiles

.metadata
.recommenders
*.class

OficinaOnlineJPA/.classpath
OficinaOnlineJPA/build.xml
OficinaOnlineJPA/bin